<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "Menu.html" %}
<form action="/registerdetails/" method="post">
    {% csrf_token %}
<table align="center" border="2">
    <tr>
        <td>
            <input type="text" placeholder="First Name" name="t1" required>
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" placeholder="Last Name" name="t2" required>
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" placeholder="Father Name" name="t3" required>
        </td>
    </tr>
    <tr>
        <td>
            <input type="number" placeholder="Contact No" name="t4" required>
        </td>
    </tr>
    <tr>
        <td>
            <input type="email" placeholder="Email Id" name="t5" required>
        </td>
    </tr>
    <tr>
        <td>
            <textarea  name="t6" required></textarea>
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" placeholder="Username" name="t7" required>
        </td>
    </tr>
    <tr>
        <td>
            <input type="password" placeholder="password" name="t8" required>
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Register">
        </td>
    </tr>

</table>
    </form>
</body>
</html>