<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "Menu.html" %}
<table align="center" border="0">
     <tr>
    <form  action="/ladies/" method="post">
        {% csrf_token %}
        <td>

<input type="submit" value="LadiesSeats">
        </td>
        </form>
     </tr>
    <tr>
         <form action="/gents/" method="post">
             {% csrf_token %}
              <td>
             <input type="submit" value="GentsSeats">

</td>

                </form>
     </tr>


    </table>

</body>
</html>